
@{
	ViewData["Title"] = "Index";
}

<div style="margin-top: 80px">
	<h3><span class="fa fa-store"></span> List of Products</h3>

</div>
<div class="row mt-5">
	<div class="col-md-3">
		<nav id="categoryList" class="nav flex-column">

		</nav>
	</div>
	<div class="col-md-9">
		<div class="form-group">
			<div class="input-group mb-3">
				<input id="searchField" type="text" class="form-control" placeholder="Search for product">
				<div class="input-group-append">
					<button id="searchButton" class="btn btn-success" type="submit">
						<span class="fa fa-search"></span>
					</button>
				</div>
			</div>

		</div>
		<table id="tableProducts" class="table table-striped table-bordered table-hover">
			<thead class="bg-dark">
				<tr>
					<th class="text-light">Preview</th>
					<th class="text-light">Name</th>
					<th class="text-light">Description</th>
					<th class="text-light">Price</th>
					<th class="text-light">Store</th>
					<th class="text-light">Category</th>
					<th class="text-light">Buy</th>
				</tr>
			</thead>
			<tbody id="tableProductsBody">
			</tbody>
		</table>
		<div id="loadMoreBlock" class="mt-3 text-center">
			<button type="button" id="loadMoreButton" class="btn btn-link">Load More..</button>
		</div>
	</div>
</div>

<input id="currentFetchSize" type="hidden" value="7" />
<input id="currentSkipSize" type="hidden" value="0" />
<input id="currentQuery" type="hidden" value="" />
<input id="currentCategory" type="hidden" value="New" />



@section Scripts{
	<script asp-append-version="true">
		$(document).ready(function () {
			loadCategories();
			loadProducts();
			$("#searchButton").click(function () {
				$("#currentQuery").val($("#searchField").val());
				$("#tableProductsBody").empty();
				loadProducts();

			})
			$("#loadMoreButton").click(function () {
				var currentFetchSize = parseInt($("#currentFetchSize").val());
				var currentSkipSize = parseInt($("#currentSkipSize").val());
				$("#currentSkipSize").val(parseInt(currentFetchSize + currentSkipSize));
				loadProducts();

			});
			
		});
		function loadProducts() {
			var fetchUrl = "/Products/GetProducts";
			var currentFetchSize = $("#currentFetchSize").val();
			var currentSkipSize = $("#currentSkipSize").val();
			var currentQuery = $("#currentQuery").val();
			var currentCategory = $("#currentCategory").val();
			$.ajax({
				method: "GET",
				url: fetchUrl,
				data: {
					category: currentCategory,
					query: currentQuery,
					skipCount: currentSkipSize,
					fetchSize: currentFetchSize
				},
				success: function (response) {
					if (response) {

						$("#currentFetchSize").val(response.fetchSize);
						$("#currentSkipSize").val(response.skipCount);
						$("#currentQuery").val(response.query);
						$("#currentCategory").val(response.category);
						if (response.rows) {

							var len = response.rows.length;
							var row = "";
							for (var i = 0; i < len; i++) {
								row += "<tr>";
								row += "<td><img src='" + response.rows[i].imageUrl + "' style='width:80px; heigh: 80px' class='img-fluid'/></td>";
								row += "<td>" + response.rows[i].name + "</td>";
								row += "<td>" + response.rows[i].description + "</td>";
								row += "<td>$" + response.rows[i].price + "</td>";
								row += "<td>" + response.rows[i].storeName + "</td>";
								row += "<td>" + response.rows[i].categoryName + "</td>";
								row += "<td><a class='btn btn-primary' href='/Products/Detail/" + response.rows[i].id + "'><span class='fa fa-shopping-cart'></span></a></td>"
								row += "</tr>";
							}
							$("#tableProductsBody").append(row);
							if (len === response.fetchSize) {
								$("#loadMoreBlock").show();
							} else {
								$("#loadMoreBlock").hide();
							}
						} else {
							$("#loadMoreBlock").hide();
						}
					} else {
						swal.fire({
							icon: "error",
							title: 'Oops...',
							text: 'Something went wrong! Please try again later.',
						});
					}
				},
				error: function () {
					swal.fire({
						icon: "error",
						title: 'Oops...',
						text: 'Something went wrong! Please try again later.',
					});
				}
			})
		}
		function loadCategories() {
			var fetchUrl = "/Products/GetProductCategories";

			$.ajax({
				url: fetchUrl,
				method: "GET",
				success: function (response) {
					var categories = [];
					var menuItems = "";
					if (response && response.length > 0) {
						for (var i = 0; i < response.length; i++) {
							categories.push(response[i]);
						}
					} else {
						categories.push("New");
						categories.push("On Sales!");
						categories.push("Shop by Store");

					}
					for (var i = 0; i < categories.length; i++) {
						menuItems += "<li class='nav-item'><button class='menu-item btn btn-link nav-link' data-category='" + categories[i] + "'>" + categories[i] + "</a></li>";
					}
					$("#categoryList").append(menuItems);
					$(".menu-item").click(function () {
						$("#currentCategory").val($(this).text());
						$("#tableProductsBody").empty();

						loadProducts();
					})
				},
				error: function () {
					swal.fire({
						icon: "error",
						title: 'Oops...',
						text: 'Something went wrong! Please try again later.',
					});
				}
			})
		}
	</script>
}