@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin-top:72px">
	<h1>Farm Fresh Online Store</h1>
	
</div>
<div class="text-center">
	<img src="~/assets/Banner Photo.jpg" class="img-fluid" />
</div>